subscription_id     = "00000000-0000-0000-0000-000000000000"
tenant_id           = "00000000-0000-0000-0000-000000000000"
resource_group_name = "rg-hackathon-cicd-prod"
location            = "eastus"

github_org            = "your-org"
github_repo           = "bayers_hackathon"
managed_identity_name = "mi-github-terraform-prod"

federated_subjects = [
  "repo:ORG/REPO:ref:refs/heads/main",
  "repo:ORG/REPO:pull_request"
]

tags = {
  environment = "prod"
  owner       = "platform-team"
}
